# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
import datetime
pd.set_option('display.max_colwidth', None)
jeopardy_data = pd.read_csv('jeopardy.csv')
print(jeopardy_data.columns)

jeopardy_data = jeopardy_data.rename(columns = {' Air Date': 'Air Date', ' Round': 'Round', ' Category': 'Category', \
                                               ' Value' : 'Value', ' Question' : 'Question', ' Answer' : 'Answer'})
print(jeopardy_data.columns)

print("The dataset has " + str(len(jeopardy_data)) + " entries.")

jeopardy_data.head()
jeopardy_data.dtypes

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
The dataset has 216930 entries.

Show Number     int64
Air Date       object
Round          object
Category       object
Value          object
Question       object
Answer         object
dtype: object

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [3]:
def words_in_questions (df, list):
    filter = lambda x: all(word in x for word in list)
    return df.loc[df["Question"].apply(filter)]
relevant_questions = words_in_questions(jeopardy_data, ["King", "England"])
relevant_questions["Question"].head()

4953                 Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912       This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                            this man and his son ruled England following the execution of King Charles I
23810    William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                      This member of the Medici family was the mother-in-law of England's King Charles I
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [4]:
def words_in_questions (df, list):
    filter = lambda x: all(word.lower() in x.lower() for word in list)
    return df.loc[df["Question"].apply(filter)]
relevant_questions = words_in_questions(jeopardy_data, ["King"])
relevant_questions.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
34,4680,2004-12-31,Double Jeopardy!,"""X""s & ""O""s",$400,Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero,oratory
40,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$1200,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_26.mp3"">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>",Yertle
50,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$2000,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_24.mp3"">""500 Hats""... 500 ways to die. On July 4th, this young boy will defy a king... & become a legend</a>",Bartholomew Cubbins
56,5957,2010-07-06,Jeopardy!,"GEOGRAPHY ""E""",$200,It's the largest kingdom in the United Kingdom,England
72,5957,2010-07-06,Jeopardy!,LET'S BOUNCE,$600,"In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects",jacks

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [13]:
jeopardy_data["Float Value"] = jeopardy_data["Value"].apply(lambda x: x.replace('$', ''))\
                                                        .apply(lambda x: x.replace(',', ''))\
                                                        .apply(lambda x: x.replace('None', '0'))\
                                                        .apply(lambda x: float(x))
                                                                                        

print("The mean value of all questions in the dataset is $" + str(round(jeopardy_data["Float Value"].mean(), 2)))

relevant_questions = words_in_questions(jeopardy_data, ["King"])
average_value_of_king_question = round(relevant_questions["Float Value"].mean(), 2)
print("The mean value of questions including \"King\" is $" + str(average_value_of_king_question))
jeopardy_data.head()

The mean value of all questions in the dataset is $739.99
The mean value of questions including "King" is $771.88

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,Air Date Datetime
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory",Copernicus,200.0,2004-12-31
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,"No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves",Jim Thorpe,200.0,2004-12-31
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,"The city of Yuma in this state has a record average of 4,055 hours of sunshine each year",Arizona,200.0,2004-12-31
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", this company served its billionth burger",McDonald's,200.0,2004-12-31
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States",John Adams,200.0,2004-12-31

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [6]:
def unique_count(df):
    return df["Answer"].value_counts()

unique_count(words_in_questions(jeopardy_data, ["King"]))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

# Figure Out How Many Questions from 1990s use the word "computer"

## Select Only Questions from 1990s

In [7]:
after_time = datetime.datetime(1990, 1, 1)
before_time = datetime.datetime(2000, 1, 1)
jeopardy_data["Air Date Datetime"] = pd.to_datetime(jeopardy_data["Air Date"])
##print(jeopardy_data["Air Date Datetime"])

nineties_jeopardy_questions = jeopardy_data[(jeopardy_data["Air Date Datetime"] > after_time) \
                                            & (jeopardy_data["Air Date Datetime"] < before_time)]
nineties_jeopardy_questions_sorted = nineties_jeopardy_questions.sort_values(by=["Air Date Datetime"])
nineties_jeopardy_questions_sorted.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,Air Date Datetime
148072,1236,1990-01-08,Jeopardy!,TRAVEL & TOURISM,$400,"St. Moritz, where the jet set ""winters"", is in this country, not far from the Italian border",Switzerland,400.0,1990-01-08
148102,1236,1990-01-08,Double Jeopardy!,WORLD LITERATURE,$1000,"The 1st novel in the ""Danzig Trilogy"" by Gunter Grass","""The Tin Drum""",1000.0,1990-01-08
148103,1236,1990-01-08,Double Jeopardy!,ASIAN CAPITALS,$1000,"In the mid 1800s King Mongkut modernized this capital known as the ""Venice of the Far East""",Bangkok,1000.0,1990-01-08
148104,1236,1990-01-08,Double Jeopardy!,ACTORS & RUSSIAN ROLES,$1000,"She was married to Mel Ferrer in real life when she romanced him onscreen in ""War & Peace"" in 1956",Audrey Hepburn,1000.0,1990-01-08
148105,1236,1990-01-08,Double Jeopardy!,"NUMBER, PLEASE",$1000,In the northern U.S. the number of years between appearances of the insects called periodic cicadas,17,1000.0,1990-01-08

## Use words_in_question function on 1990s Data Set

In [8]:
computer_1990s_questions = words_in_questions(nineties_jeopardy_questions_sorted, ["Computer"])
number_of_questions = len(computer_1990s_questions)
print("There are " + str(number_of_questions) + " questions from the 1990s using the word \"computer\".")

There are 98 questions from the 1990s using the word "computer".

# "Literature" in Double Jeopardy Analysis

## Figure Out How Many Rows are Double Jeopardy

In [9]:
Double_Jeopardy_Category = jeopardy_data.loc[jeopardy_data["Round"].str.contains("Double Jeopardy!")]
Double_Jeopardy_Category.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,Air Date Datetime
29,4680,2004-12-31,Double Jeopardy!,DR. SEUSS AT THE MULTIPLEX,$400,"<a href=""http://www.j-archive.com/media/2004-12-31_DJ_23.mp3"">Beyond ovoid abandonment, beyond ovoid betrayal... you won't believe the ending when he ""Hatches the Egg""</a>",Horton,400.0,2004-12-31
30,4680,2004-12-31,Double Jeopardy!,PRESIDENTIAL STATES OF BIRTH,$400,California,Nixon,400.0,2004-12-31
31,4680,2004-12-31,Double Jeopardy!,AIRLINE TRAVEL,$400,"It can be a place to leave your puppy when you take a trip, or a carrier for him that fits under an airplane seat",a kennel,400.0,2004-12-31
32,4680,2004-12-31,Double Jeopardy!,THAT OLD-TIME RELIGION,$400,"He's considered the author of the Pentateuch, which is hard to believe, as Deuteronomy continues after his death",Moses,400.0,2004-12-31
33,4680,2004-12-31,Double Jeopardy!,MUSICAL TRAINS,$400,"Steven Tyler of this band lent his steamin' vocals to ""Train Kept A-Rollin'"", first popularized by the Yardbirds",Aerosmith,400.0,2004-12-31

## Figure Out How Many Double Jeopardy Rows Contain "LITERATURE" in Category

In [10]:
Double_Jeopardy_Literature_Contains = Double_Jeopardy_Category[Double_Jeopardy_Category["Category"].str.contains("LITERATURE")]

print("There are " + str(len(Double_Jeopardy_Literature_Contains)) + " questions with \"LITERATURE\" in the category.")
Double_Jeopardy_Literature_Contains.head()

There are 1054 questions with "LITERATURE" in the category.

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,Air Date Datetime
2060,1800,1992-05-29,Double Jeopardy!,CHILDREN'S LITERATURE,$200,"In one Grimm tale, 12 princesses dance these to pieces in an underground castle",their shoes,200.0,1992-05-29
2066,1800,1992-05-29,Double Jeopardy!,CHILDREN'S LITERATURE,$400,"Anne Shirley leaves the orphanage to live on this ""colorful"" farm in Avonlea",Green Gables,400.0,1992-05-29
2072,1800,1992-05-29,Double Jeopardy!,CHILDREN'S LITERATURE,$600,"""The Comic Adventures of"" this elderly woman ""and her Dog"" were first published in 1805",Old Mother Hubbard,600.0,1992-05-29
2078,1800,1992-05-29,Double Jeopardy!,CHILDREN'S LITERATURE,$800,Dinarzade is the younger sister of this woman known for her nocturnal stories,Shahrazad,800.0,1992-05-29
2084,1800,1992-05-29,Double Jeopardy!,CHILDREN'S LITERATURE,$1000,"Madeline is one of ""twelve little girls in two straight lines"" who attend a school in this city",Paris,1000.0,1992-05-29

## Figure Out How Many Double Jeopardy Rows Contain Exactly "LITERATURE" in Category

In [11]:
Double_Jeopardy_Literature_Fullmatch = Double_Jeopardy_Category[Double_Jeopardy_Category["Category"].str.fullmatch("LITERATURE")]

print("There are " + str(len(Double_Jeopardy_Literature_Fullmatch)) + " questions with exactly \"LITERATURE\" in the category.")
Double_Jeopardy_Literature_Fullmatch.head()

There are 381 questions with exactly "LITERATURE" in the category.

,Show Number,Air Date,Round,Category,Value,Question,Answer,Float Value,Air Date Datetime
2536,5282,2007-07-24,Double Jeopardy!,LITERATURE,$400,"In chapter 52 of this novel, a boisterous crowd is gathering for Fagin's execution",Oliver Twist,400.0,2007-07-24
2542,5282,2007-07-24,Double Jeopardy!,LITERATURE,$800,"19th c. author known for writing about a ""venerable mansion"" with ""seven acutely peaked gables""",(Nathaniel) Hawthorne,800.0,2007-07-24
2548,5282,2007-07-24,Double Jeopardy!,LITERATURE,$1200,"People from the past appear to a brother & sister in ""Rewards and Fairies"" by this author of ""The Jungle Book""",Kipling,1200.0,2007-07-24
2554,5282,2007-07-24,Double Jeopardy!,LITERATURE,$1600,"Modern novels with biblical titles include Jane Hamilton's ""The Book of Ruth"" & Toni Morrison's ""Song of"" him",Solomon,1600.0,2007-07-24
2560,5282,2007-07-24,Double Jeopardy!,LITERATURE,$2000,Even Grendel would love Seamus Heaney's new translation of the Anglo-Saxon epic about this title geat,Beowulf,2000.0,2007-07-24

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.

In [12]:
!jt -t onedork -fs 95 -tfs 11 -nfs 115 -ofs 11 -cellw 100%  -T