In [3]:
print("Hello world.")

Hello world.

In [5]:
x = 2
y = 3

In [7]:
x + y

5

In [8]:
x + y
x - y

-1

In [ ]:
print(x + y)

In [10]:
mynums = [1, 2, 3, 1, 2]
mynums

[1, 2, 3, 1, 2]

In [11]:
for n in mynums:
    print(n+1)

2
3
4
2
3

In [13]:
mynums?

In [15]:
import pandas as pd

In [ ]:
pd.DataFrame

In [17]:
mynums.sort(reverse = True)
mynums

[3, 2, 2, 1, 1]

In [18]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [19]:
x = 1+1
y = 1-1
z = x/y

ZeroDivisionError: division by zero

In [20]:
%debug

> c:\users\blind\appdata\local\temp\ipykernel_12976\1746220672.py(3)<cell line: 3>()

ipdb> x
2
ipdb> y
0
ipdb> exit()