# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [1]:
import pandas as pd
import datetime
pd.set_option('display.max_colwidth', None)
jeopardy_data = pd.read_csv('jeopardy.csv')
print(jeopardy_data.columns)

jeopardy_data = jeopardy_data.rename(columns = {' Air Date': 'Air Date', ' Round': 'Round', ' Category': 'Category', \
                                               ' Value' : 'Value', ' Question' : 'Question', ' Answer' : 'Answer'})
print(jeopardy_data.columns)

print("The dataset has " + str(len(jeopardy_data)) + " entries.")

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
The dataset has 216930 entries.

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [2]:
def words_in_questions (df, list):
    filter = lambda x: all(word in x for word in list)
    return df.loc[df["Question"].apply(filter)]
relevant_questions = words_in_questions(jeopardy_data, ["King", "England"])
print(relevant_questions["Question"])

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [3]:
def words_in_questions (df, list):
    filter = lambda x: all(word.lower() in x.lower() for word in list)
    return df.loc[df["Question"].apply(filter)]
relevant_questions = words_in_questions(jeopardy_data, ["King"])
print(relevant_questions["Question"])

34                                                                                    Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero
40        <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
50                      <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>
56                                                                                                                                           It's the largest kingdom in the United Kingdom
72                                                                                              In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects
                                                                                                ...
216777                                                                   The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps
216787                                                                                     A Hoffmann tale title lost the words "And The Mouse King" when it became this Tchaikovsky ballet
216789                                                                                   This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
216856                                          You can cook like <a href="http://www.j-archive.com/media/2007-03-23_DJ_24.jpg" target="_blank">this</a> man who wrote "The Joy of Wokking"
216916                                                                                                            Oscar Wilde called this 4-letter word "the curse of the drinking classes"
Name: Question, Length: 7409, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [4]:
jeopardy_data["Float Value"] = jeopardy_data["Value"].apply(lambda x: x.replace('$', ''))\
                                                        .apply(lambda x: x.replace(',', ''))\
                                                        .apply(lambda x: x.replace('None', '0'))\
                                                        .apply(lambda x: float(x))
                                                                                        
print(jeopardy_data["Float Value"])
print("The mean question value in the dataset is $" + str(round(jeopardy_data["Float Value"].mean(), 2)))

relevant_questions = words_in_questions(jeopardy_data, ["King"])
average_value_of_king_question = round(relevant_questions["Float Value"].mean(), 2)
print("The mean value of questions including \"King\" is $" + str(average_value_of_king_question))

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       0.0
Name: Float Value, Length: 216930, dtype: float64
The mean question value in the dataset is $739.99
The mean value of questions including "King" is $771.88

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [5]:
def unique_count(df):
    return df["Answer"].value_counts()

unique_count(words_in_questions(jeopardy_data, ["King"]))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)     1
Henderson                     1
Computer                      1
Indians                       1
work                          1
Name: Answer, Length: 5268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

# Figure Out How Many Questions from 1990s use the word "computer"

## Select Only Questions from 1990s

In [6]:
after_time = datetime.datetime(1990, 1, 1)
before_time = datetime.datetime(2000, 1, 1)
jeopardy_data["Air Date Datetime"] = pd.to_datetime(jeopardy_data["Air Date"])
##print(jeopardy_data["Air Date Datetime"])

nineties_jeopardy_questions = jeopardy_data.loc[(jeopardy_data["Air Date Datetime"] > after_time) \
                                            & (jeopardy_data["Air Date Datetime"] < before_time)]
nineties_jeopardy_questions_sorted = nineties_jeopardy_questions.sort_values(by=["Air Date Datetime"])
print(nineties_jeopardy_questions_sorted)

        Show Number    Air Date             Round  \
148072         1236  1990-01-08         Jeopardy!
148102         1236  1990-01-08  Double Jeopardy!
148103         1236  1990-01-08  Double Jeopardy!
148104         1236  1990-01-08  Double Jeopardy!
148105         1236  1990-01-08  Double Jeopardy!
...             ...         ...               ...
201298         3530  1999-12-31  Double Jeopardy!
201297         3530  1999-12-31  Double Jeopardy!
201296         3530  1999-12-31  Double Jeopardy!
201309         3530  1999-12-31  Double Jeopardy!
201291         3530  1999-12-31         Jeopardy!

                             Category  Value  \
148072               TRAVEL & TOURISM   $400
148102               WORLD LITERATURE  $1000
148103                 ASIAN CAPITALS  $1000
148104         ACTORS & RUSSIAN ROLES  $1000
148105                 NUMBER, PLEASE  $1000
...                               ...    ...
201298  IT'S NOT THE END OF THE WORLD   $200
201297              FILMS OF THE '70s   $200
201296            CROSSWORD CLUES "S"   $200
201309              FILMS OF THE '70s   $600
201291                           SONS   $500

                                                                                                                                              Question  \
148072                                                    St. Moritz, where the jet set "winters", is in this country, not far from the Italian border
148102                                                                                           The 1st novel in the "Danzig Trilogy" by Gunter Grass
148103                                                     In the mid 1800s King Mongkut modernized this capital known as the "Venice of the Far East"
148104                                              She was married to Mel Ferrer in real life when she romanced him onscreen in "War & Peace" in 1956
148105                                             In the northern U.S. the number of years between appearances of the insects called periodic cicadas
...                                                                                                                                                ...
201298                                                      This leader rebounded from his Gallipoli disaster in WWI to have his "finest hour" in WWII
201297                                                                 This 1972 Woody Allen film included clips & music from "Casablanca", sweetheart
201296                                                                                                                         Utah lake seasoning (4)
201309  (Hi, I'm Stephen Collins of "7th Heaven")  I began my film career playing Hugh Sloan, Richard Nixon's campaign treasurer, in this 1976 classic
201291                                                             In 2 Samuel David laments for him, "My son, my son...would God I had died for thee"

                         Answer  Float Value Air Date Datetime
148072              Switzerland        400.0        1990-01-08
148102           "The Tin Drum"       1000.0        1990-01-08
148103                  Bangkok       1000.0        1990-01-08
148104           Audrey Hepburn       1000.0        1990-01-08
148105                       17       1000.0        1990-01-08
...                         ...          ...               ...
201298        Winston Churchill        200.0        1999-12-31
201297       Play It Again, Sam        200.0        1999-12-31
201296                     salt        200.0        1999-12-31
201309  All The President's Men        600.0        1999-12-31
201291                  Absalom        500.0        1999-12-31

[56745 rows x 9 columns]

## Use words_in_question function on 1990s Data Set

In [7]:
computer_1990s_questions = words_in_questions(nineties_jeopardy_questions_sorted, ["Computer"])
number_of_questions = len(computer_1990s_questions)
print("There are " + str(number_of_questions) + " questions from the 1990s using the word \"computer\".")

There are 98 questions from the 1990s using the word "computer".

# Figure Out How Many Times "Literature" is Double Jeopardy

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.

In [12]:
!jt -t onedork -fs 95 -tfs 11 -nfs 115 -ofs 11 -cellw 100%  -T